@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

:root{
    --Primary:#121f3d;
    --white:#fff;
    --gray: #2a324b;
    /* --neon: #0a2929; */
    --shadow-color:#0c3768;
    --shadow-color-light:  #007399;
    --Cyan: hsl(178, 100%, 50%);

    --fuente:'Roboto Mono', monospace;
}

/* Resetea el margin y padding */
*{
    margin: 0px;
    border:0px;
    box-sizing: border-box;
}


body{
    /* font-family: sans-serif; */
    font-family: var(--fuente);
    font-weight: lighter;
    color:var(--white);
    background-color: var(--Primary);
    /* para que el body siempre tenga la altura de la pagina */
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

h1{
    text-transform: capitalize ;
}

.nav{
    border-bottom: 1px solid var(--gray);
}

.nav-toggle{
    position: absolute;
    cursor: pointer;
    margin: 0 20px;
    right: 0;
    top: 0;
}

.nav-toggle svg{
    width: 25px;
    margin-top: 15px;
}

.nav-svg-close{
    display: none;
}

.nav-check{
    display: none;
}
.nav-check:checked ~ ul.nav-menu li  {
    display: block;
}

.nav-check:checked ~ label.nav-toggle .nav-svg-close  {
    display: block;
}
.nav-check:checked ~ label.nav-toggle .nav-svg-menu  {
    display: none;
}


.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top:10px;
    font-size: 20px;
    width: 90%;
}

.nav-menu li>a{
text-decoration: none;
color: var(--white);
padding: 0 10px;
}

.nav-menu li>a .home{
    color: var(--Cyan);
}

.lista{
    display: flex;
	flex-direction: column;
	align-items: center;
}

.lista:hover {
	cursor: pointer;
}

.lista-content{
	position: relative;

}


.lista .modos::after{
    position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	background-color: rgba(41, 157, 252, 0.747);
	left: 50%;
	bottom: -5px;
    left: 0;
}



.lista-content::after  {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: rgba(41, 157, 252, 0.747);
	left: 50%;
	bottom: -5px;
	transition: all 0.4s ease-in-out;
}


.lista:hover .lista-content::after {
	width: 100%;
	left: 0;
}


.lista:hover .lista-content{
    color: rgba(41, 157, 252, 0.747);
}

.nav-menu li{
    display: none;
}

/* el primer hijo del menu dentro de la nav */
.nav-menu li:first-child{
    margin-right: auto;
    display: block;
}




.nav-logo{
    margin-left: -20px;
}


.logo{
    margin: 30px 15px ;
    font-size: 50px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
    color: #ffffff;
    animation: neon 3s infinite;
    }
    
    
    @keyframes neon {
        0% {
          text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
          0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
          0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
        }
        50% {
          text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
          0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
          0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
        }
        100% {
          text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
          0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
          0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
        }
        }
        
        
        @keyframes neon {
            0% {
              text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
              0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
              0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
            }
            50% {
              text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
              0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
              0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
            }
            100% {
              text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
              0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
              0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
            }
        }
        




        
.boton{
  
    position:relative;
    display:flex;
    margin: 0px 80px;
    justify-content: center;
    padding:15px 30px;
    color:#2196f3;
    letter-spacing:4px;
    text-decoration:none;
    font-size:24px;
    overflow:hidden;
    transition:0.2s;
  }
  
  .boton:hover{
    
    color:#255784;
    background:#2196f3;
    box-shadow:0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay:.4s;
  }
  
  .boton span{
    
    position:absolute;
    display:block;
    
  }
  
  .boton span:nth-child(1){
    
    top:0;
    left:-100%;
    width:100%;
    height:2px;
    background:linear-gradient(90deg,transparent,#2196f3);
    
  }
  
  .boton:hover span:nth-child(1){
    
    left:100%;
    transition:1s;
    
  }
  
  .boton span:nth-child(3){
    
    bottom:0;
    right:-100%;
    width:100%;
    height:2px;
    background:linear-gradient(270deg,transparent,#2196f3);
    
  }
  
  .boton:hover span:nth-child(3){
  
    right:100%;
    transition:1s;
    transition-delay:0.5s;
    
  }
  
  .boton span:nth-child(2){
    
    top:-100%;
    right:0%;
  
    height:100%;
    width:2px;
    background:linear-gradient(180deg,transparent,#2196f3);
    
  }
  
  .boton:hover span:nth-child(2){
   
    top:100%;
    transition:1s;
    transition-delay:0.25s;
    
  }
  
  .boton span:nth-child(4){
    
    bottom:-100%;
    left:0;
    width:2px;
    height:100%;
    background:linear-gradient(360deg,transparent,#2196f3);
    
  }
  
  .boton:hover span:nth-child(4){
    
    bottom:100%;
    transition:1s;
    transition-delay:0.75s;
  
  }
  

  
    
/*? TABLETS */
@media(min-width: 768px) {
    .nav-toggle{
        display: none;
    }

    .nav-menu{
        flex-direction: row;
    }

    .nav-menu li{
        display: block;
        padding: 0 20px;
    }

    .nav-menu{
        width: 100%;
    }

    
}