@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

:root{
    --Primary:#121f3d;
    --white:#fff;
    --gray: #2a324b;
    /* --neon: #0a2929; */
    --shadow-color:#0c3768;
    --shadow-color-light:  #007399;
    --Cyan: hsl(178, 100%, 50%);

    --fuente:'Roboto Mono', monospace;
}

/* Resetea el margin y padding */
*{
    margin: 0px;
    border:0px;
    box-sizing: border-box;
}


body{
    /* font-family: sans-serif; */
    font-family: var(--fuente);
    font-weight: lighter;
    color:var(--white);
    background-color: var(--Primary);
    /* para que el body siempre tenga la altura de la pagina */
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

h1{
    text-transform: capitalize ;
}

.nav{
    border-bottom: 1px solid var(--gray);
}

.nav-toggle{
    position: absolute;
    cursor: pointer;
    margin: 0 20px;
    right: 0;
    top: 0;
}

.nav-toggle svg{
    width: 25px;
    margin-top: 15px;
}

.nav-svg-close{
    display: none;
}

.nav-check{
    display: none;
}
.nav-check:checked ~ ul.nav-menu li  {
    display: block;
}

.nav-check:checked ~ label.nav-toggle .nav-svg-close  {
    display: block;
}
.nav-check:checked ~ label.nav-toggle .nav-svg-menu  {
    display: none;
}


.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top:10px;
    font-size: 20px;
    width: 90%;
}

.nav-menu li>a{
text-decoration: none;
color: var(--white);
padding: 0 10px;
}

.nav-menu li>a .home{
    color: var(--Cyan);
}

.lista{
    display: flex;
	flex-direction: column;
	align-items: center;
}

.lista:hover {
	cursor: pointer;
}

.lista-content{
	position: relative;

}


.lista .control::after{
    position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	background-color: rgba(41, 157, 252, 0.747);
	left: 50%;
	bottom: -5px;
    left: 0;
}



.lista-content::after  {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: rgba(41, 157, 252, 0.747);
	left: 50%;
	bottom: -5px;
	transition: all 0.4s ease-in-out;
}


.lista:hover .lista-content::after {
	width: 100%;
	left: 0;
}


.lista:hover .lista-content{
    color: rgba(41, 157, 252, 0.747);
}

.nav-menu li{
    display: none;
}

/* el primer hijo del menu dentro de la nav */
.nav-menu li:first-child{
    margin-right: auto;
    display: block;
}




.nav-logo{
    margin-left: -20px;
}

.Items-flex{
    display: flex;
    flex-direction: column;
}

.Items-iconoAfuera{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;

    /* box-shadow: -4px -14px 75px 1px rgba(84,161,255,1); */

}

.Items-iconoAfuera>i{
    /* box-shadow: -4px -14px 75px 1px rgba(84,161,255,1); */

}

.Items-item{
    min-width: 50%;

    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 1px;
    padding: 20px ;
    margin: 20px 0px;
    border: 1px solid var(--Cyan);
    border-radius: 20px;
    box-shadow:2px -1px 45px -1px rgba(84,161,255,1);
}

.logo{
margin: 30px 15px ;
font-size: 50px;
text-transform: uppercase;
font-family: "Archivo Black", "Archivo", sans-serif;
font-weight: normal;
display: block;
height: auto;
text-align: center;
color: #ffffff;
animation: neon 3s infinite;
}


@keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    }
    
    
    @keyframes neon {
        0% {
          text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
          0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
          0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
        }
        50% {
          text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
          0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
          0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
        }
        100% {
          text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
          0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
          0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
        }
    }
    





input[type="checkbox"]{
    position: relative;
    width: 60px;
    height: 30px;
    -webkit-appearance:none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0,0,0,.9);
}

input:checked[type="checkbox"]{

    background: #03a9f4;
}

input:checked[type="checkbox"]::before{
    transition: .5s;
    left: 30px;
    }

input[type="checkbox"]::before{
content: "";
position: absolute;
width:30px;
height: 30px;
border-radius: 20px;
top:0;
left: 0;
transition: .5s;
transform: scale(1.1);
background: rgb(184, 184, 184);
box-shadow: 0 2px 5px rgba(0,0,0,.2);
}




#muestrario{
    background: 1px;
    height: 50px;
    cursor: pointer;
    transition: .5s;

}

/*? TABLETS */
@media(min-width: 768px) {
    .nav-toggle{
        display: none;
    }

    .nav-menu{
        flex-direction: row;
    }

    .nav-menu li{
        display: block;
        padding: 0 20px;
    }

    .nav-menu{
        width: 100%;
    }


    .Items-flex{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .Items-iconoAfuera{
        margin-bottom: 100px;
    }

    .Items-iconoAfuera>i{
        scale:1.5 ;
    }
.Items-item{
    width: auto;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    

    border: 1px solid var(--Cyan);
    border-radius: 20px;
    box-shadow: -4px -14px 75px 1px rgba(84,161,255,1);
}


#muestrario{
    background: 1px;
    width: auto;

}

}

@media(min-width:1200px){

    .Items-iconoAfuera>i {
        /* margin-right: 50px; */
        scale: (2);
    }

    .Items-item{
        /* height: 40vh; */
        display: grid;
        /* grid-template-columns: repeat(2,1fr); */
        column-gap: 10px;
        padding: 40px ;
        row-gap: 10px;
    
        
    }


    #muestrario{
        background: 1px;
        width: auto;
        height: 80px;
     
    }


    input[type="checkbox"]{
        width: 100px;
        height: 40px;
    }
    
  
    
    input:checked[type="checkbox"]::before{
        left: 60px;
        }
    
    input[type="checkbox"]::before{
    
    width:40px;
    height: 40px;
    }
}
